@{
    ViewBag.Title = "BienesRaices";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">

                <div id="carousel-example-generic" class="carousel slide">
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
                <h2 class="brand-before">
                    <small>Bienvenido</small>
                </h2>
                <h1 class="brand-name">Bienes Y Raices.</h1>
                <hr class="tagline-divider">
                <div>
                    <p>
                        Este sitio web consiste en brindarle al usuario, un sitio donde se puedan encontrar diferentes propiedades que se encuentren a la venta. A su vez poder conocer
                        más detalles de la mismas.
                    </p>
                </div>
            </div>
        </div>
    </div>
